.Header_Chui{
    


    font-weight: 700;
    background-color: #082F2C;
    font-family: 'Kanit', sans-serif;
    display: flex;
    color: white;
    width: 100%;
    height: 56px; 
    
    

    &__menu{
        flex:2;
        display: flex;
        padding-top: 1%;
        

        >div{
            
            flex:1;
            a {
                text-align: center;
                vertical-align: middle;
                font-size: 100%;
                text-decoration: none;
                color: white;
                transition: 0.3;

            }
            a:hover {
                font-size: 125%;
                

            }
        }
    }

    &__logo{
    flex: 3;    
    }
    
    

}